# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.*
!.env.example

# =========================
# Backend (Spring Boot & Java)
# =========================
.gradle
backend/build/
!gradle/wrapper/gradle-wrapper.jar

*.class

# =========================
# User Uploads (Images)
# =========================
backend/uploads/*

# 필수 기본 이미지는 예외 처리 (깃허브에 업로드됨)
!backend/uploads/p1.png
!backend/uploads/p2.png
!backend/uploads/p4.png
!backend/uploads/p5.png
